.center {
    text-align: center;
    align-content: center;
    align-items: center;
}

.linkbox {
    border: #343a40 solid 2px;
    border-radius: 5px;
    margin: 2px;
    background-color: #343a40;
    color: white;
    text-decoration: none;
    width: 100%;
}

.textbox {
    padding: 5px;
}

#composite {
    max-width: 25%;
    height: auto;
    border-radius: 10px;
    padding: 5px;
}

footer {
    width: 100%;
}